@import url(./card.css);

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
  --fontPrimary: "outfit";
}

@font-face {
  font-family: "outfit";
  src: url("../fonts/outfit.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.main {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: var(--lightGray);
  font-family: var(--fontPrimary);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 480px) {
body{
  background-color: white;
}
}